{% extends 'base.html' %}
{% block content %}
{% load static %}
    
    <!-- start inner banner -->
    <section class="inner-banner">
        <!-- <h1 class="font-weight-bold text-center">Achievement</h1> -->
    </section>
    <!-- end inner banner -->
    <!-- start about us -->
    <section class="aboutus">
        <div class="container">
            <div class="sec-title text-center mb-3" data-aos="fade-up" data-aos-duration="1000">
                <span class="title">A propos</span>
                <h2>C'est quoi warwi</h2>
                <div class="divider">
                    <span class="fa fa-mortar-board"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 text-justify">
                    <!-- <h1 class="color-orange font-weight-bold about-title" data-aos="fade-up" data-aos-duration="1000">15+</h1>
                    <h5 class="font-weight-bold text-uppercase mb-3" data-aos="fade-up" data-aos-duration="1000">YEARS OF EXPERIANCE</h5> -->
                    <p>Le projet « Outils de pilotage de la formation agricole et rurale (FAR) pour l’emploi décent des jeunes au Sénégal » - Warwi s’inscrit dans le cadre des accords intergouvernementaux signés en 2016 entre le ministère français en charge de l’agriculture et les ministères sénégalais en charge de la formation professionnelle et de l'enseignement supérieur. En prenant en compte les outils existants et en veillant à la bonne articulation avec ceux-ci, il permettra de :</p>
                    <p>- Concevoir et mettre à disposition une cartographie interactive de la formation agricole et rurale au Sénégal, outil de suivi et de pilotage, mais aussi d’information pour tous les usagers : les jeunes, les agriculteurs, les entreprises, les organisations professionnelles agricoles, les organisations de la société civile, les partenaires techniques et financiers, etc.</p>
                    <p>- Concevoir et mettre en ligne, à partir de la base de données constituée pour la cartographie, un moteur de recherche sur la formation et l’enseignement agricole et rurale disponibles au Sénégal pour aider les apprenants dans leur orientation scolaire et professionnelle en fonction de la zone géographique, des métiers et du niveau escomptés.</p>
                    <p>- Promouvoir la formation agricole et rurale auprès des apprenants et des acteurs locaux (collectivités territoriales, entreprises, etc.) à travers les deux outils susmentionnés et en favorisant les innovations et les dynamiques des territoires.</p>
                </div>
                <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0">
                    <div class="about-img">
                        <div class="img_1" data-aos="zoom-in" data-aos-duration="550">
                            <div class="border-line"></div>
                            <img src="{% static 'assets/mesimages/i_warwi2.jpg'%}" class="img-fluid" alt="About">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about us -->

    
    {% include 'partenaire.html' %}
    <!-- start result showcase -->
    {% include 'aller_carte.html' %}
    <!-- end result showcase -->
    {% endblock %}



























































