{% extends 'base.html' %}
{% block content %}

    
    <!-- start inner-banner -->
    <section class="inner-banner">
        <!-- <h1 class="font-weight-bold text-center">Results</h1> -->
    </section>
    <!-- end inner-banner -->
    <!-- start search result -->
    
            
            <section class="blog">
                <div class="container">
                    <div class="sec-title text-center mb-3">
                        <span class="title">CARTO</span>
                        <h2>Cartographie des etablissements</h2>
                        <div class="divider">
                            <span class="fa fa-mortar-board"></span>
                        </div>
                    </div>
                    <div class="bg-dark"> 
                        <form method="POST" action="">
                            {% csrf_token %}
                            <select name='region' onchange="this.form.submit()">
                                <option value="">Région</option>
                                {% for r in regions %}
                                    <option value="{{r}}" {% if r == req_region %}selected="selected"{% endif %}>{{r}}</option>
                                    
                                {% endfor %}
                            </select>
                            <select name='departement' onchange="this.form.submit()">
                                <option value="">Département</option>
                                {% for d in departements %}
                                    <option value="{{d}}" {% if d == req_departement %}selected="selected"{% endif %}>
                                        {{d}}
                                    </option>
                                    
                                {% endfor %}
                            </select>
                            <select name='commune' onchange="this.form.submit()">
                                <option value="">Commune</option>
                                {% for c in communes %}
                                    <option value="{{c}}" {% if c == req_commune %}selected="selected"{% endif %}>{{c}}</option>
                                    
                                {% endfor %}
                            </select>
                            
                        </form>
                    </div>
                    <div class=""> 
                        <div id="mapid"></div>
                    </div>
                </div>
            </section>
            
        {{ etablissements|json_script:"my-data" }}
        <!-- ===============leaflet js============= -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
            <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
            <script>
            var mymap = L.map('mapid').setView([14.5083345,-15.6012063], 7.4);
            
                var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            });
        
            OpenStreetMap_Mapnik.addTo(mymap);
            const value = JSON.parse(document.getElementById('my-data').textContent);
            var markersCluster = new L.MarkerClusterGroup();
            value.forEach(element => {
                    
                    var latLng = new L.LatLng(element.lattitude, element.longittude);
                    console.log(element.longittude)
                        var marker = new L.Marker(latLng, {title: element.region_itervention});
                        marker.bindPopup("<h5><a href='etablissement/"+element.id+"'> "+element.nom_etablissement+" </a></h5>").openPopup();
                        markersCluster.addLayer(marker);
                    // var marker=L.marker([element.lt, element.lg]).addTo(mymap);
                    
                });
            mymap.addLayer(markersCluster);
        
        
            </script>
        </div>
    
    
    <!-- start result showcase -->
    <section class="result-list">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sec-title mb-3" data-aos="fade-up" data-aos-duration="1000">
                        <span class="title">Result</span>
                        <h2>Result Showcase</h2>
                        <div class="divider">
                            <span class="fa fa-mortar-board"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="autoplay">
                        <div class="result_img m-2" data-aos="zoom-in" data-aos-duration="1000">
                            <img src="assets/images/course_1.png" class="img-fluid" alt="Result">
                            <div class="overlay"></div>
                            <div class="overlay-text">
                                <a href="assets/images/course_1.png" data-fancybox="gallery"><i class="fa fa-plus fa-2x"></i></a>
                                <h5 class="font-weight-bold">Result</h5>
                            </div>
                        </div>
                        <div class="result_img m-2" data-aos="zoom-in" data-aos-duration="1000">
                            <img src="assets/images/course_2.png" class="img-fluid" alt="Result">
                            <div class="overlay"></div>
                            <div class="overlay-text">
                                <a href="assets/images/course_2.png" data-fancybox="gallery"><i class="fa fa-plus fa-2x"></i></a>
                                <h5 class="font-weight-bold">Result</h5>
                            </div>
                        </div>
                        <div class="result_img m-2" data-aos="zoom-in" data-aos-duration="1000">
                            <img src="assets/images/course_3.png" class="img-fluid" alt="Result">
                            <div class="overlay"></div>
                            <div class="overlay-text">
                                <a href="assets/images/course_3.png" data-fancybox="gallery"><i class="fa fa-plus fa-2x"></i></a>
                                <h5 class="font-weight-bold">Result</h5>
                            </div>
                        </div>
                        <div class="result_img m-2" data-aos="zoom-in" data-aos-duration="1000">
                            <img src="assets/images/course_4.png" class="img-fluid" alt="Result">
                            <div class="overlay"></div>
                            <div class="overlay-text">
                                <a href="assets/images/course_4.png" data-fancybox="gallery"><i class="fa fa-plus fa-2x"></i></a>
                                <h5 class="font-weight-bold">Result</h5>
                            </div>
                        </div>
                        <div class="result_img m-2" data-aos="zoom-in" data-aos-duration="1000">
                            <img src="assets/images/course_4.png" class="img-fluid" alt="Result">
                            <div class="overlay"></div>
                            <div class="overlay-text">
                                <a href="assets/images/course_4.png" data-fancybox="gallery"><i class="fa fa-plus fa-2x"></i></a>
                                <h5 class="font-weight-bold">Result</h5>
                            </div>
                        </div>
                        <div class="result_img m-2" data-aos="zoom-in" data-aos-duration="1000">
                            <img src="assets/images/course_5.png" class="img-fluid" alt="Result">
                            <div class="overlay"></div>
                            <div class="overlay-text">
                                <a href="assets/images/course_5.png" data-fancybox="gallery"><i class="fa fa-plus fa-2x"></i></a>
                                <h5 class="font-weight-bold">Result</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end result showcase -->
    {% endblock %}



























































