{% extends 'base.html' %}
{% block content %}

    
    <!-- start inner-banner -->
    <section class="inner-banner">
        <!-- <h1 class="font-weight-bold text-center">Results</h1> -->
    </section>
    <!-- end inner-banner -->
    <!-- start search result -->
    <section class="result">
        <div class="container">
            <div class="sec-title text-center mb-3" data-aos="fade-up" data-aos-duration="1000">
                <span class="title">Formations & Diplomes</span>
                <h2>Formation par établissements</h2>
                <div class="divider">
                    <span class="fa fa-mortar-board"></span>
                </div>
            </div>
            <div>
                <h4>Rappel de la recherche</h4>
                <ul>
                    {% if request.GET.region%}
                    <li>Région: {{request.GET.region}}</li>
                   
                    {%endif%}
                    {%if request.GET.type%}
                    <li>Type de formation: {{request.GET.type}}</li>
                    {%endif%}
                    {% if request.GET.niveau_requis%}
                    <li>Niveau requis: {{request.GET.niveau_requis}}</li>
                    {% endif %}
                    {% if request.GET.c_concours%}
                    <li>Condition accés: Concours </li>
                    {% endif %}
                    {% if request.GET.c_dossier%}
                    <li>Condition accés: Dossier</li>
                    {% endif %}
                    {% if request.GET.c_entretien%}
                    <li>Condition accés: Entretien</li>
                    {% endif %}
                    {% if request.GET.c_autre%}
                    <li>Condition accés: Autre</li>
                    {% endif %}
                    {% if request.GET.d_dts%}
                    <li>Diplôme: DTS</li>
                    {% endif %}
                    {% if request.GET.c_bts%}
                    <li>Diplôme: BTS</li>
                    {% endif %}
                    {% if request.GET.d_bt%}
                    <li>Diplôme: Autre</li>
                    {% endif %}
                    {% if request.GET.d_cs%}
                    <li>Diplôme: CS</li>
                    {% endif %}
                    {% if request.GET.d_bac%}
                    <li>Diplôme: BAC</li>
                    {% endif %}
                    {% if request.GET.d_licence%}
                    <li>Diplôme: Licence</li>
                    {% endif %}
                    {% if request.GET.d_master%}
                    <li>Diplôme: Master</li>
                    {% endif %}
                    {% if request.GET.d_doctorat%}
                    <li>Diplôme: Doctorat</li>
                    {% endif %}
                    {% if request.GET.d_certificat%}
                    <li>Diplôme: Certificat</li>
                    {% endif %}
                    {% if request.GET.d_attestation%}
                    <li>Diplôme: Attestation</li>
                    {% endif %}
                    {% if request.GET.d_cap %}
                    <li>Diplôme: CAP</li>
                    {% endif %}
                    <!-- juste pour cette page -->
                    {% if request.GET.nom_formation %}
                    <li>Formation: {{request.GET.nom_formation}}</li>
                    {% endif %}
                    {% if not request.GET.region and not request.GET.type and not request.GET.departement and not equest.GET.niveau_requis and not request.GET.c_concours and not request.GET.c_dossier and not request.GET.c_entretien and not request.GET.c_autre and not request.GET.d_dts and not request.GET.d_bts and not request.GET.d_bt and not request.GET.d_cap and not request.GET.d_cs and not request.GET.d_bac and not request.GET.d_licence and not request.GET.d_master and not request.GET.d_doctorat and not request.GET.d_certificat and not request.GET.d_attestation %}
                        Pas de paramétres sélectionnés
                    {% endif %}
                </ul>
            </div>
            <div class="pb-5">
            {% if formations%}
            <!-- <h3 class="font-weight-bold color-orange" data-aos="fade-up" data-aos-duration="1000">Formation initiale</h3> -->
            <hr/>
            <div class="row px-3">
                
                <div class="row pl-5">
                    {% for f in formations %}
                    <div class="col-md-3 mb-3">
                        <h6><a class="text-primary" href="{% url 'detailsFormation' f.id %}?nom_formation={{f.nom_formation}}&niveau_requis={{request.GET.niveau_requis}}&region={{request.GET.region}}&departement={{request.GET.departement}}&departement={{request.GET.departement}}&c_concours={{request.GET.c_concours}}&c_dossier={{request.GET.c_dossier}}&c_entretien={{request.GET.c_entretien}}&c_autre={{request.GET.c_autre}}&d_dts={{request.GET.d_dts}}&d_bts={{request.GET.d_bts}}&d_bt={{request.GET.d_bt}}&d_cs={{request.GET.d_cs}}&d_bac={{request.GET.d_bac}}&d_licence={{request.GET.d_licence}}&d_master={{request.GET.d_master}}&d_doctorat={{request.GET.d_doctorat}}&d_certificat={{request.GET.d_certificat}}&d_cap={{request.GET.d_cap}}&d_attestation={{request.GET.d_attestation}}&type={{request.GET.type}}">
                            <h6>{{f.etablissement.nom_etablissement}}</h6>
                        </a></h6>
                    </div>
                        
                    {% endfor %}
                </div>
                
                <div class="row justify-content-center w-100 mt-3" style="overflow: auto;">

                    <nav aria-label="..." class="float-right">
                        <ul class="pagination">
                            {% if formations.has_previous %}
                            <li class="page-item disabled">
                                <a href="?page={{formations.previous_page_number}}&niveau_requis={{request.GET.niveau_requis}}&region={{request.GET.region}}&departement={{request.GET.departement}}&departement={{request.GET.departement}}&c_concours={{request.GET.c_concours}}&c_dossier={{request.GET.c_dossier}}&c_entretien={{request.GET.c_entretien}}&c_autre={{request.GET.c_autre}}&d_dts={{request.GET.d_dts}}&d_bts={{request.GET.d_bts}}&d_bt={{request.GET.d_bt}}&d_bac={{request.GET.d_bac}}&d_licence={{request.GET.d_licence}}&d_master={{request.GET.d_master}}&d_doctorat={{request.GET.d_doctorat}}&d_certificat={{request.GET.d_certificat}}&d_cap={{request.GET.d_cap}}&d_attestation={{request.GET.d_attestation}}&type={{request.GET.type}}"><span class="page-link">Previous</span></a>
                            </li>
                            {% endif %}
                            {% for p in formations.paginator.page_range %}
                            <li class="page-item {% ifequal formations.number p %} active {% endifequal %}">
                                <a class="page-link" href="?page={{p}}&niveau_requis={{request.GET.niveau_requis}}&region={{request.GET.region}}&departement={{request.GET.departement}}&departement={{request.GET.departement}}&c_concours={{request.GET.c_concours}}&c_dossier={{request.GET.c_dossier}}&c_entretien={{request.GET.c_entretien}}&c_autre={{request.GET.c_autre}}&d_dts={{request.GET.d_dts}}&d_bts={{request.GET.d_bts}}&d_bt={{request.GET.d_bt}}&d_bac={{request.GET.d_bac}}&d_licence={{request.GET.d_licence}}&d_master={{request.GET.d_master}}&d_doctorat={{request.GET.d_doctorat}}&d_certificat={{request.GET.d_certificat}}&d_cap={{request.GET.d_cap}}&d_attestation={{request.GET.d_attestation}}&type={{request.GET.type}}">{{p}}</a>
                                {% ifequal formations.number p %}
                                <span class="sr-only">(current)</span>
                                {% endifequal %}
                
                            </li>
                            {% endfor %}
                
                            {% if formations.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{formations.next_page_number}}&niveau_requis={{request.GET.niveau_requis}}&region={{request.GET.region}}&departement={{request.GET.departement}}&departement={{request.GET.departement}}&c_concours={{request.GET.c_concours}}&c_dossier={{request.GET.c_dossier}}&c_entretien={{request.GET.c_entretien}}&c_autre={{request.GET.c_autre}}&d_dts={{request.GET.d_dts}}&d_bts={{request.GET.d_bts}}&d_bt={{request.GET.d_bt}}&d_bac={{request.GET.d_bac}}&d_licence={{request.GET.d_licence}}&d_master={{request.GET.d_master}}&d_doctorat={{request.GET.d_doctorat}}&d_certificat={{request.GET.d_certificat}}&d_cap={{request.GET.d_cap}}&d_attestation={{request.GET.d_attestation}}&type={{request.GET.type}}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                
                
                </div>
                
            </div>
                
                {% endif %}
                <!-- ================================Formation Modulaire================== -->
        <div class="">
            {% if formations_m %}
            <!-- <h3 id="formatiom_m" class="font-weight-bold color-orange" data-aos="fade-up" data-aos-duration="1000">Formation modulaire</h3> -->
            <hr/>
            <div class="row px-3" >
                
                <div class="row pl-5">
                    {% for f in formations_m %}
                    <div class="col-md-3 mb-3 ">
                        <h6><a  class="text-primary" href="{% url 'detailsFormationM' f.id %}?nom_formation={{f.nom_formation}}&niveau_requis={{request.GET.niveau_requis}}&region={{request.GET.region}}&departement={{request.GET.departement}}&departement={{request.GET.departement}}&c_concours={{request.GET.c_concours}}&c_dossier={{request.GET.c_dossier}}&c_entretien={{request.GET.c_entretien}}&c_autre={{request.GET.c_autre}}&d_dts={{request.GET.d_dts}}&d_bts={{request.GET.d_bts}}&d_bt={{request.GET.d_bt}}&d_cs={{request.GET.d_cs}}&d_bac={{request.GET.d_bac}}&d_licence={{request.GET.d_licence}}&d_master={{request.GET.d_master}}&d_doctorat={{request.GET.d_doctorat}}&d_certificat={{request.GET.d_certificat}}&d_cap={{request.GET.d_cap}}&d_attestation={{request.GET.d_attestation}}&type={{request.GET.type}}">
                            <h6>{{f.etablissement.nom_etablissement}}</h6></a></h6>
                    </div>
                        
                    {% endfor %}
                </div>
                <div class="row justify-content-center w-100 mt-3" style="overflow: auto;">

                    <nav aria-label="..." class="float-right">
                        <ul class="pagination" >
                            {% if formations_m.has_previous %}
                            <li class="page-item disabled">
                                <a href="?page_m={{formations_m.previous_page_number}}&niveau_requis={{request.GET.niveau_requis}}&region={{request.GET.region}}&departement={{request.GET.departement}}&departement={{request.GET.departement}}&c_concours={{request.GET.c_concours}}&c_dossier={{request.GET.c_dossier}}&c_entretien={{request.GET.c_entretien}}&c_autre={{request.GET.c_autre}}&d_dts={{request.GET.d_dts}}&d_bts={{request.GET.d_bts}}&d_bt={{request.GET.d_bt}}&d_bac={{request.GET.d_bac}}&d_licence={{request.GET.d_licence}}&d_master={{request.GET.d_master}}&d_doctorat={{request.GET.d_doctorat}}&d_certificat={{request.GET.d_certificat}}&d_cap={{request.GET.d_cap}}&diplome={{request.GET.diplome}}&d_attestation={{request.GET.d_attestation}}&type={{request.GET.type}}/#formatiom_m"><span class="page-link">Previous</span></a>
                            </li>
                            {% endif %}
                            {% for p in formations_m.paginator.page_range %}
                            <li class="page-item {% ifequal formations_m.number p %} active {% endifequal %}">
                                <a class="page-link" href="?page_m={{p}}&niveau_requis={{request.GET.niveau_requis}}&region={{request.GET.region}}&departement={{request.GET.departement}}&departement={{request.GET.departement}}&c_concours={{request.GET.c_concours}}&c_dossier={{request.GET.c_dossier}}&c_entretien={{request.GET.c_entretien}}&c_autre={{request.GET.c_autre}}&d_dts={{request.GET.d_dts}}&d_bts={{request.GET.d_bts}}&d_bt={{request.GET.d_bt}}&d_bac={{request.GET.d_bac}}&d_licence={{request.GET.d_licence}}&d_master={{request.GET.d_master}}&d_doctorat={{request.GET.d_doctorat}}&d_certificat={{request.GET.d_certificat}}&d_cap={{request.GET.d_cap}}&diplome={{request.GET.diplome}}&d_attestation={{request.GET.d_attestation}}&type={{request.GET.type}}/#formatiom_m">{{p}}</a>
                                {% ifequal formations_m.number p %}
                                <span class="sr-only">(current)</span>
                                {% endifequal %}
                
                            </li>
                            {% endfor %}
                
                            {% if formations_m.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page_m={{formations.next_page_number}}&niveau_requis={{request.GET.niveau_requis}}&region={{request.GET.region}}&departement={{request.GET.departement}}&departement={{request.GET.departement}}&c_concours={{request.GET.c_concours}}&c_dossier={{request.GET.c_dossier}}&c_entretien={{request.GET.c_entretien}}&c_autre={{request.GET.c_autre}}&d_dts={{request.GET.d_dts}}&d_bts={{request.GET.d_bts}}&d_bt={{request.GET.d_bt}}&d_bac={{request.GET.d_bac}}&d_licence={{request.GET.d_licence}}&d_master={{request.GET.d_master}}&d_doctorat={{request.GET.d_doctorat}}&d_certificat={{request.GET.d_certificat}}&d_cap={{request.GET.d_cap}}&diplome={{request.GET.diplome}}&d_attestation={{request.GET.d_attestation}}&type={{request.GET.type}}/#formatiom_m">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                
                
                </div>
                
            </div>
                {% endif %}
            </div>
            {%if not formations and not formations_m%}
                <div class=" w-100 text-center text-danger p-4"><h4>Pas de résultats!</h4></div>
            {%endif%}
        </div>
    </section>
    <!-- end search result -->
    
    <!-- start result showcase -->
    {% include 'aller_carte.html' %}
    <!-- end result showcase -->
    {% endblock %}



























































