{% extends 'base.html' %}
{% block content %}
{% load static %}
    
    <!-- start inner banner -->
    <section class="inner-banner">
        <!-- <h1 class="font-weight-bold text-center">Achievement</h1> -->
    </section>
    <!-- end inner banner -->
    <!-- start achievement -->
    <section class="achievement">
        <div class="container">
            <div class="sec-title text-center mb-3" data-aos="fade-up" data-aos-duration="1000">
                <span class="title">Enseignement agricole</span>
                <!-- <h2>Enseignement agricole au sénégal</h2> -->
                <div class="divider">
                    <span class="fa fa-mortar-board"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h3 class="font-weight-bold color-orange" data-aos="fade-up" data-aos-duration="1000">Poste 1</h3>
                    <h6 class="font-weight-bold mb-3">Enseignement agricole au sénégal</h6>
                    <p>L'enseignement agricole est un système éducatif complet qui offre une variété de formations avec 
                        des niveaux d’accès (CFEE, BFEM, BAC, licence etc.) et des conditions  d’accès (dossier, concours) différents.   
                            </p>
                    <p>Il existe à la fois des formations payantes et gratuites offrants une variétés de métiers une fois le diplôme obtenu.</p>
                </div>
                <div class="col-lg-6 offset-lg-0 offset-xl-0 col-md-8 offset-md-2">
                    <div class="img-block">
                        <div class="border-line"></div>
                        <div class="cust_img">
                            <img class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" src="{% static 'assets/mesimages/metierAgroM.jpg' %}" alt="Achievement">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-lg-6 offset-lg-0 offset-xl-0 col-md-8 offset-md-2">
                    <div class="img-block left-block">
                        <div class="border-line"></div>
                        <div class="cust_img">
                            <img class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" src="{% static 'assets/mesimages/pseM.jpg' %}" alt="Achievement">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-xl-5 mt-lg-5 mt-md-2 mt-sm-5 mt-5">
                    <h3 class="font-weight-bold color-orange" data-aos="fade-up" data-aos-duration="1000">Poste 2</h3>
                    <h6 class="font-weight-bold mb-3">L'agriculture un pilier pour le développement</h6>
                    <p>Selon des experts, l’agriculture constitue l’un des domaines où persistent des déséquilibres entre monde développé et en développement.
                         Le secteur agricole est au cœur de l’économie et représente une large part du PIB (Produit intérieur brute).
                          Il emploie une grande partie de la population et constitue une importante source de revenu.</p>
                    <p>Ainsi, le Sénégal ne pourra pas vraiment progresser sur la voie de l'expansion économique,
                         de la réduction de la pauvreté et d'une plus grande sécurité alimentaire 
                         s'il ne valorise pas les ressources humaines et les capacités productives potentielles du secteur agricole pour accroître sa contribution au développement économique et social en général.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h3 class="font-weight-bold color-orange" data-aos="fade-up" data-aos-duration="1000">Poste 3</h3>
                    <h6 class="font-weight-bold mb-3">Ministère de l’Agriculture et de l’Equipement rural de la République du Sénégal</h6>
                    <p>Sous la direction du Pr Moussa  Baldé, le ministère de l’Agriculture et de l’Equipement rural de la République du Sénégal est chargé de coordonner ou d’accompagner les projets et initiatives autour de l’agriculture.
                        
                           </p>
                    <p>Etant conscient que l’agriculture est le principal moteur pour tendre vers le progrès, avoir une autosuffisance alimentaire et créer de l’emploi.
                        Le gouvernement à travers le PRACAS (programme d’accélération de la cadence de l’agriculture sénégalaise),
                        qui est le volet dédié à ce secteur dans le PSE (Plan Sénégal émergent) tente de développer au mieux ce domaine.</p>
                </div>
                <div class="col-lg-6 col-md-8 offset-lg-0 offset-xl-0 offset-md-2">
                    <div class="img-block">
                        <div class="border-line"></div>
                        <div class="cust_img">
                            <img class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" src="{% static 'assets/mesimages/ministre agricultureM.jpg' %}" alt="Achievement">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end achievement -->

    <!-- start result showcase -->
    {% include 'aller_carte.html' %}
    <!-- end result showcase -->
    {% endblock %}



























































