{% extends 'base.html' %}
{% block content %}
{% load static %}
    
    <!-- start inner banner -->
    <section class="inner-banner">
        <!-- <h1 class="font-weight-bold text-center">Achievement</h1> -->
    </section>
    <!-- end inner banner -->
    <!-- start about us -->
    <section class="aboutus">
        <div class="container">
            <div class="sec-title text-center mb-3" data-aos="fade-up" data-aos-duration="1000">
                <span class="title">Formation agricole</span>
                <h2>Formation & Diplome</h2>
                <div class="divider">
                    <span class="fa fa-mortar-board"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h1 class="color-orange font-weight-bold about-title" data-aos="fade-up" data-aos-duration="1000">15+</h1>
                    <h5 class="font-weight-bold text-uppercase mb-3" data-aos="fade-up" data-aos-duration="1000">YEARS OF EXPERIANCE</h5>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0">
                    <div class="about-img">
                        <div class="img_1" data-aos="zoom-in" data-aos-duration="550">
                            <div class="border-line"></div>
                            <img src="{% static 'assets/images/about1.jpg'%}" class="img-fluid" alt="About">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about us -->

    <!-- start contact us -->
    <section class="contact-us mt-5 mb-5">
        <div class="container" id="trouver_formation">
            <div class="row">
                <div class="col-md-12 contact-us-block">
                    <div class="border-line"></div>
                    <div class="row" >
                        <div class="col-lg-4 col-md-12 py-5">
                            <h3 class="text-center font-weight-bold">Les Formations</h3>
                            <div class="single-item">
                                <div class="text-center py-4">
                                    <img src="{% static 'assets/images/1.png'%}" class="img-fluid m-auto d-block" alt="Student">
                                    <h5 class="mt-3 font-weight-bold">Horticulture</h5>
                                    <h6>L'horticulture est l'art de cultiver les jardins, de pratiquer la culture des légumes, des fruits, des fleurs, des arbres ou des arbustes fruitiers et d'ornement. </h6>
                                </div>
                                <div class="text-center py-4">
                                    <img src="{% static 'assets/images/2.png' %}" class="img-fluid m-auto d-block" alt="Student">
                                    <h5 class="mt-3 font-weight-bold">Maraîchage</h5>
                                    <h6>La culture de végétaux à usage alimentaire, de manière professionnelle.</h6>
                                </div>
                                <div class="text-center py-4">
                                    <img src="assets/images/3.png" class="img-fluid m-auto d-block" alt="Student">
                                    <h5 class="mt-3 font-weight-bold">Lisa Devis</h5>
                                    <h6>Suffered are many variation of passages lorem availle there on alterati of some
                                        form
                                        by the injected for users.</h6>
                                </div>
                                <button class="slick-prev slick-arrow" aria-label="Previous" type="button">
                                    Previous
                                </button>
                                <button class="slick-next slick-arrow" aria-label="Next" type="button">Next
                                </button>
                            </div>
                        </div>
                        <div class="col-md-8 hidden-md">
                            <div class="joinus-content theme-orange mx-5" data-aos="zoom-in" data-aos-duration="550">
                                <p class="text-uppercase font-weight-bold mb-0">La formation adequat</p>
                                <h2 class="font-weight-bold mb-3">Trouver une formation</h2>
                                <!-- start result showcase -->
                                {% include 'form_formation.html' %}
                                <!-- end result showcase -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact us -->
    <!-- start join us -->
    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="joinus-content theme-orange mx-5 hidden-lg" data-aos="zoom-in" data-aos-duration="550">
                        <p class="text-uppercase font-weight-bold mb-0">La formation adequat</p>
                        <h2 class="font-weight-bold mb-3">Trouver une formation</h2>
                        <!-- start result showcase -->
                        {% include 'form_formation.html' %}
                        <!-- end result showcase -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end join us -->
    <!-- start result showcase -->
    {% include 'aller_carte.html' %}
    <!-- end result showcase -->
    {% endblock %}



























































