{% load static %}
 <!-- start result showcase -->
 <section class="sec-partenaire mb-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-3">
                <img src="{% static 'assets/mesimages/logo_amF.png'%}" alt="logo_amF" width="100%" class="partenaire-item"/>
            </div>
            <div class="col-md-3">
                <img src="{% static 'assets/mesimages/farsen.JPG'%}" alt="farsen" width="100%" class="partenaire-item"/>
            </div>
            <div class="col-md-3">
                <img src="{% static 'assets/mesimages/logo_geomatica.png'%}" alt="logo_geomatica" width="100%" class="partenaire-item"/>
            </div>
            <div class="col-md-3">
                <img src="{% static 'assets/mesimages/wutiko.png'%}" alt="wutiko"  width="100%" class="partenaire-item"/>
            </div>
            
            
            
            
            
        </div>
    </div>
</section>
<!-- end result showcase -->